* {
    font-size: 16px;
}

.container header {
    background: #DDD;
    border-bottom: 1px solid;
    border-radius: 10px;
    margin-bottom: 5px;
}


.container #content, #more-content {
    background: #05062e;
    padding: 10px;
    border-radius: 10px;
}

.container #content article, #more-content article {
    background: #FFF;
    border-bottom: 2px solid #776b19;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

.container footer {
    background: #CCC;
    border-radius: 10px;
    margin-top: 5px;
}

.move-span {
    text-align: right;
}

#content button {
    margin-top: 5px;
    color: blue;
}


@media screen and (max-width: 960px) {

}

@media screen and (max-width: 65px) {
    .container header {
        background: #DDD;
        border-bottom: 1px solid;
        padding: 8px;
        text-align: center;
    }

    .container header h1 {
        font-size: 4rem;
        margin: 1px;
        color: red;

    }

    .container header p {
        color: blue;
        font-size: 2rem;
        margin: 1rem;
    }

}
